* {
  box-sizing: border-box;
}

html,
body,
#root, #modal-root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  user-select: none;
  overflow: hidden;
}

body {
  position: fixed;
  overflow: hidden;
  overscroll-behavior-y: none;
}

.main {
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
  overflow: hidden;
}

.top-left {
  top: 40px;
  left: 40px;
}

.top-right {
  top: 40px;
  right: 40px;
}

.bottom-left {
  bottom: 40px;
  left: 40px;
}

@media only screen and (max-width: 500px) {
  .bottom-left {
    display: none;
  }
}

.bottom-right {
  bottom: 40px;
  right: 40px;
}

/* canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  overflow: hidden;
} */
