.menuSalidas {
  top: 70vh;
  bottom: 65px;
  transition: all 800ms;
  top: calc(100vh - 170px);
  left: 0;
  right: 0;
}

@media only screen and (min-width: 440px) {
  .menuSalidas {
    top: calc(100vh - 200px);
  }
}

*:focus {
  outline: none;
}
