.spanStyle {
  text-transform: uppercase;
  opacity: 1;
  letter-spacing: 0.1em;
  font-size: 90%;
}

.hideHeight {
  display: none;
}

@media screen and (min-height: 800px) {
    .hideHeight {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      max-width: 900px;
    }
  }