

.navMain {
  position: fixed;
  bottom: 15px;
  left: 0;
  width: 100%;
  padding: 1em 0.5em 1em 0.5em ;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 102;
  pointer-events: none;
}

.navWrapper {
    border: 1px solid var(--foreground-color);
    width: 400px;
    overflow: hidden;
    background: var(--background-color);
    opacity: 0.9;
    backdrop-filter: blur(20px);
    box-sizing: border-box;
    pointer-events: auto;
}

@media (max-width: 440px) {
  .navMain {
    padding: 0;
    bottom: 0;
  }

  .navWrapper {
    border:  none;
    border-top: 1px solid var(--foreground-color);
    width: 100%;
}
}

.infoButton:hover, .prevButton:hover, .nextButton:hover {
  transition: 400ms;
  background: var(--foreground-color);
}

.infoButton:hover > div > svg > path, .prevButton:hover > a > svg > path, .nextButton:hover > a > svg > path {
  fill: var(--background-color);
}

@media (max-width: 300px) {
  .title > h1 {
    display: none;
  }
}


ul.nav {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  z-Index: 100;
}

ul.nav > li > a {
  display: inline-block;
  text-decoration: none;
  font-weight: 720;
}

ul.nav > li:not(:first-of-type) > a {
  display: inline-block;
  padding-left: 1em;
}