/* spacing */
.padding0 {
  padding: 0;
}
.padding1 {
  padding: calc(var(--lineHeight) * 1);
}
.padding2 {
  padding: calc(var(--lineHeight) * 2);
}
.padding3 {
  padding: calc(var(--lineHeight) * 3);
}
.padding4 {
  padding: calc(var(--lineHeight) * 4);
}
.padding5 {
  padding: calc(var(--lineHeight) * 5);
}
.padding5 {
  padding: calc(var(--lineHeight) * 6);
}
.padding5 {
  padding: calc(var(--lineHeight) * 7);
}
.padding5 {
  padding: calc(var(--lineHeight) * 8);
}
.margin0 {
  margin: 0;
}
.margin1 {
  margin: calc(var(--lineHeight) * 1);
}
.margin2 {
  margin: calc(var(--lineHeight) * 2);
}
.margin3 {
  margin: calc(var(--lineHeight) * 3);
}
.margin4 {
  margin: calc(var(--lineHeight) * 4);
}
.margin5 {
  margin: calc(var(--lineHeight) * 5);
}
.margin5 {
  margin: calc(var(--lineHeight) * 6);
}
.margin5 {
  margin: calc(var(--lineHeight) * 7);
}
.margin5 {
  margin: calc(var(--lineHeight) * 8);
}
