/* opacity */
.opacity0 {
  opacity: 0;
}
.opacity1 {
  opacity: 0.1;
}
.opacity2 {
  opacity: 0.2;
}
.opacity3 {
  opacity: 0.3;
}
.opacity4 {
  opacity: 0.4;
}
.opacity5 {
  opacity: 0.5;
}
.opacity6 {
  opacity: 0.6;
}
.opacity7 {
  opacity: 0.7;
}
.opacity8 {
  opacity: 0.8;
}
.opacity9 {
  opacity: 0.9;
}
.opacity10 {
  opacity: 1;
}
