/* anchor */
a {
  /* text-decoration: underline; */
  -webkit-text-decoration: underline rgba(0, 0, 0, 0.3);
  /* text-decoration: underline rgba(0, 0, 0, 0.3); */
  white-space: nowrap;
}
/* a:hover {
  color: var(--blue);
} */
h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a,
.h1 > a,
.h2 > a,
.h3 > a,
.h4 > a,
.h5 > a,
.h6 > a {
  text-decoration: none;
}
h1 > a:hover,
h2 > a:hover,
h3 > a:hover,
h4 > a:hover,
h5 > a:hover,
h6 > a:hover,
.h1 > a:hover,
.h2 > a:hover,
.h3 > a:hover,
.h4 > a:hover,
.h5 > a:hover,
.h6 > a:hover {
  text-decoration: underline;
  -webkit-text-decoration: underline rgba(0, 0, 0, 0.3);
  text-decoration: underline rgba(0, 0, 0, 0.3);
  color: inherit;
}
